body, html{
  height: 100%;
  margin: 0;
}

body{
  place-items: center;
  display: grid;
  
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

main{
  background: url(Images/mobile.png);
  background-size: cover;
  height: 812px;
  width: 375px;
  color: white;
  background-repeat: no-repeat;
  color: var(--gray);
}

#avatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 11.5rem;
  height: 185px;
  width: 185px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  object-fit: cover;
}

h1{
  font-size: 1.8rem;
}

.container{
  place-items: center;
  display: grid;
}

a{
  display: inline;
  place-items: center;
  color: white;
  text-decoration: none;
}

#stamp{
  position: absolute;
  margin-top: 10.5625rem;
  margin-left: 6.75rem;
  z-index: 1;
}

.userName{
  color: var(--gray);
  display: flex;
  gap: 0.75rem;

  color: var(--gray);
  text-decoration: none;
  margin-top: 0.5rem;

  justify-container: center;
  align-items: center;
  color: #c3c3cc;
}

h1, a, p{
  position: relative;
  margin-top: 14rem;
}

p{
  margin-top: 2em;
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
  margin-top: 4rem;
  
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}